name: Build
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        version: [distroless, scratch]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push distroless image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.${{ matrix.version }}
          push: true
          tags: ghcr.io/${{ github.repository }}/go-app:${{ matrix.version }}-latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Test image
        run: |
          docker run --rm -d -p 8080:8080 ghcr.io/${{ github.repository }}/go-app:${{ matrix.version }}-latest
          sleep 5
          curl http://localhost:8080
          docker stop $(docker ps -q -f ancestor=ghcr.io/${{ github.repository }}/go-app:${{ matrix.version }}-latest)
